.library-books {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.library-books .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.library-books .row > div {
    margin-right: 15px;
    flex: 1;
}

.button-group button {
    text-align: center;
    padding: 10px;
    margin: 5px;
}